
<%- include('../partials/header')%>

    <h1>Log Out</h1>
    <p>Welcome to <%= title %></p>

    <p>Are you sure you want to log out?</p>
    <button> Log Out</button>

  <%- include('../partials/footer')%>
