
<%- include('../partials/header')%>

    <h1>Sign Up</h1>
    <p>Welcome to <%= title %></p>

    <p>Join the communtiy of smart shoppers!</p>

    <form action="" method="" onsubmit="">
        


    </form>
    <button type="submit\">Sign Up</button>

  <%- include('../partials/footer')%>
